<EditForm Model="@Client" OnValidSubmit="@SubmitForm">
    <div class="form-group row">
        <label for="progress" class="col-sm-4 col-form-label"><strong>Progress</strong></label>

        <InputSelect id="progress" class="col-form-control col-sm-2" @bind-Value="@Client.Progress">
            <option value="">Select progress...</option>
            <option value="Accepted">Accepted</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-primary" @onclick="@SubmitForm">Save</button>
</EditForm>