@page "/clients/edit/{ClientID}"

@if (Client == null)
{
    <button type="button" class="btn btn-info" @onclick="@NavigateBack">Back</button>
    <p><em>Loading...</em></p>
}
else
{
    <button type="button" class="btn btn-info" @onclick="@NavigateBack">Back</button>

    <ClientForm ButtonTitle="Edit" Client="@Client" SubmitForm="@SubmitForm"></ClientForm>
}
